
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
         <script src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
         <script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ChatBot de Papounet</title>
        <style>
            navigation_bar{
               background-color:white;
               position:fixed;
               top:0rem;
               height:fit-content

            }
            dialog_flow{
                font-size:small;
                padding-block-start: 5em;
            }
        </style>

    </head>

    <body>
        <navigation_bar class="container">
                <a class="navbar-brand" href="#">
               <img src="{{ url_for('static', filename='face_co.png') }}" width="30" height="30" class="d-inline-block align-top" alt=picture">
               Bienvenue sur le ChatBot de Papounet !
                </a>
        </navigation_bar>
            {% block question %}{% endblock %}
            <footer class="fixed-bottom">
                <hr>
                <div class="container d-none d-sm-none d-md-block">
                    <div class="row justify-content-between">
                        <div class="col-4"> Fabrice Jaouën aka Papounet</div>
                        <div class="col-4">
                            <a href="https://github.com/Fabrice-64/OC_Project_7"> Lien vers GitHub</a>
                        </div>
            
                    </div>
                </div>
            </footer>
    </body>
</html>

